<!-- ▼▼▼ ページローダー ▼▼▼ -->
<div id="js-page-loader" class="page-loader">
  <div class="dot-wave">
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
  </div>
</div>
<!-- ▲▲▲ ページローダー ▲▲▲ -->
