<!-- ▼▼▼ ページローダーCSS ▼▼▼ -->
<style>
.loader {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 10000;
}
.loader__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #345017;
}
.loader__content {
  position: relative;
  z-index: 1;
}
.loader__content > span {
  display: inline-block;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: bold;
}
</style>
<!-- ▲▲▲ ページローダーCSS ▲▲▲ -->

{# 「gulp-htmlmin」での圧縮が効かなかったため、元の記述をVScode側で圧縮しておく #}
{# <script>
  const loaderEl = document.getElementById('js-loader');
  if (!loaderEl) return;
  document.documentElement.style.overflow = 'hidden';
  setTimeout(() => {
    const loaderElDisplay = document.defaultView.getComputedStyle(loaderEl, null).display;
    if (loaderElDisplay === 'flex') {
      loaderEl.style.display = 'none';
      document.documentElement.style.overflow = null;
    }
  }, 10000);
</script> #}

<!-- ▼▼▼ ページローダーJS ▼▼▼ -->
<script>const loaderEl=document.getElementById('js-loader');if (!loaderEl) return;document.documentElement.style.overflow='hidden';setTimeout(()=>{const loaderElDisplay=document.defaultView.getComputedStyle(loaderEl,null).display;if (loaderElDisplay==='flex'){loaderEl.style.display='none';document.documentElement.style.overflow=null}},10000);</script>
<!-- ▲▲▲ ページローダーJS ▲▲▲ -->