<!-- ▼▼▼ ページローダー ▼▼▼ -->
<div class="loader" id="js-loader">
  <div class="loader__bg"></div>
  <p class="loader__content">
    <span>L</span>
    <span>O</span>
    <span>A</span>
    <span>D</span>
    <span>I</span>
    <span>N</span>
    <span>G</span>
    <span>.</span>
    <span>.</span>
    <span>.</span>
  </p>
</div>
<!-- ▲▲▲ ページローダー ▲▲▲ -->
