<!-- ▼▼▼ 読み込みファイル（共通） ▼▼▼ -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/{{ CONSTANTS.SITE_ROOT }}css/style.css">
<!-- ▲▲▲ 読み込みファイル（共通） ▲▲▲ -->