{%- from '../../components/button.njk' import default as BUTTON -%}

<div class="form">
  <div class="form__field">
    <label class="form__label">名前</label>
    <input type="text" class="form__input">
  </div>
  <div class="form__field">
    <label class="form__label">メールアドレス</label>
    <input type="email" class="form__input">
  </div>
  <div class="form__field">
    <label class="form__label">お問い合わせ内容</label>
    <textarea class="form__textarea"></textarea>
  </div>
  <div class="form__button">
    {{ BUTTON({
      href: CONSTANTS.SITE_ROOT + '/event.html',
      text: '送信',
      align: 'center'
    }) }}
  </div>
</div>

{# <form action="/wordpress/contact/#wpcf7-f57-p44-o1" method="post" class="wpcf7-form init form" novalidate="novalidate"
  data-status="init">
  <div style="display: none;">
    <input type="hidden" name="_wpcf7" value="57">
    <input type="hidden" name="_wpcf7_version" value="5.6.3">
    <input type="hidden" name="_wpcf7_locale" value="ja">
    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f57-p44-o1">
    <input type="hidden" name="_wpcf7_container_post" value="44">
    <input type="hidden" name="_wpcf7_posted_data_hash" value="">
  </div>
  <div class="form__field"><label class="form__label">名前</label><span class="wpcf7-form-control-wrap"
      data-name="your-name"><input type="text" name="your-name" value="" size="40"
        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form__input" aria-required="true"
        aria-invalid="false"></span></div>
  <div class="form__field"><label class="form__label">メールアドレス</label><span class="wpcf7-form-control-wrap"
      data-name="your-email"><input type="email" name="your-email" value="" size="40"
        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form__input"
        aria-required="true" aria-invalid="false"></span></div>
  <div class="form__field"><label class="form__label">お問い合わせ内容</label><span class="wpcf7-form-control-wrap"
      data-name="your-message"><textarea name="your-message" cols="40" rows="10"
        class="wpcf7-form-control wpcf7-textarea form__textarea" aria-invalid="false"></textarea></span></div>
  <div class="form__button"><input type="submit" value="送信" class="wpcf7-form-control has-spinner wpcf7-submit"><span
      class="wpcf7-spinner"></span></div>
  <div class="wpcf7-response-output" aria-hidden="true"></div>
</form> #}