<form action="" class="form">
  <div class="form__field">
    <label class="form__label">名前</label>
    <input type="text" class="form__input">
  </div>
  <div class="form__field">
    <label class="form__label">メールアドレス</label>
    <input type="email" class="form__input">
  </div>
  <div class="form__field">
    <label class="form__label">お問い合わせ内容</label>
    <textarea class="form__input"></textarea>
  </div>
</form>