{% extends 'layouts/has-aside.njk' %}
{%- from 'components/hero.njk' import default as HERO -%}
{% set PAGE_DATA = {
  TITLE: 'イベント詳細ページ',
  DESCRIPTION: 'イベント詳細ページの概要',
  NAV: 'event'
} %}

{% block PAGE_HEAD %}
{# <!-- ▼▼▼ 読み込みファイル（ページ専用） ▼▼▼ -->
<link rel="stylesheet" href="/{{ CONSTANTS.SITE_ROOT }}css/event.css">
<!-- ▲▲▲ 読み込みファイル（ページ専用） ▲▲▲ --> #}
{% endblock %}

{% block PAGE_HERO %}
  {{ HERO({
    title: 'イベント詳細',
    img: 'https://picsum.photos/id/249/1200/400'
  }) }}
{% endblock %}

{% block PAGE_CONTENT %}
  {% include 'sections/event-detail/content.njk' %}
  {% include 'components/next-prev.njk' %}
{% endblock %}

{% block PAGE_FOOT %}
{# <!-- ▼▼▼ 読み込みファイル（ページ専用） ▼▼▼ -->
<script src="/{{ CONSTANTS.SITE_ROOT }}js/event.js"></script>
<!-- ▲▲▲ 読み込みファイル（ページ専用） ▲▲▲ --> #}
{% endblock %}