{% extends 'layouts/default.njk' %}
{% set PAGE_DATA = {
  TITLE: 'トップページ',
  DESCRIPTION: 'トップページの概要',
  NAV: 'top'
} %}

{% block PAGE_HEAD %}
<!-- ▼▼▼ 読み込みファイル（ページ専用） ▼▼▼ -->
<link rel="stylesheet" href="/{{ CONSTANTS.SITE_ROOT }}css/top.css">
<!-- ▲▲▲ 読み込みファイル（ページ専用） ▲▲▲ -->
{% endblock %}

{% block PAGE_CONTENT %}
  {% include 'sections/top/hero.njk' %}
{% endblock %}

{% block PAGE_FOOT %}
<!-- ▼▼▼ 読み込みファイル（ページ専用） ▼▼▼ -->
<script src="/{{ CONSTANTS.SITE_ROOT }}js/top.js"></script>
<!-- ▲▲▲ 読み込みファイル（ページ専用） ▲▲▲ -->
{% endblock %}