{% extends 'layouts/has-aside.njk' %}
{% set PAGE_DATA = {
  TITLE: 'ニュース一覧ページ',
  DESCRIPTION: 'ニュース一覧ページの概要',
  NAV: 'news'
} %}

{% block PAGE_HEAD %}
{# <!-- ▼▼▼ 読み込みファイル（ページ専用） ▼▼▼ -->
<link rel="stylesheet" href="/{{ CONSTANTS.SITE_ROOT }}css/news.css">
<!-- ▲▲▲ 読み込みファイル（ページ専用） ▲▲▲ --> #}
{% endblock %}

{% block PAGE_CONTENT %}
  news
{% endblock %}

{% block PAGE_FOOT %}
{# <!-- ▼▼▼ 読み込みファイル（ページ専用） ▼▼▼ -->
<script src="/{{ CONSTANTS.SITE_ROOT }}js/news.js"></script>
<!-- ▲▲▲ 読み込みファイル（ページ専用） ▲▲▲ --> #}
{% endblock %}