@use "../../global" as g;

$BLOCK_NAME: ".top-hero";
$duration_mv: 4.5s;
$ease_mv: cubic-bezier(0.65, 0, 0.35, 1);
$duration_mv_container: 2.5s;
$ease_mv_container: cubic-bezier(0.64, 0, 0.78, 0);
$width_mv: 60vw;
$scale_mv: 1.2;

#{ $BLOCK_NAME } {
  &__wrapper {
    overflow: hidden;
  }

  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  @include g.Mq(md) {
    grid-template-columns: minmax(0, 5fr) minmax(0, 7fr);
  }

  &__content {
    padding: 32px 0;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    @include g.Mq(md) {
      margin-right: -60%;
      font-size: 56px;
    }
    @include g.Mq(md) {
      font-size: 72px;
    }
  }

  &__title-line {
    display: block;
    margin-top: 8px;
    overflow: hidden;
    line-height: 1;
    &:first-child {
      margin-top: 0;
    }
    @include g.Mq(md) {
      margin-top: 12px;
    }
    & > span {
      position: relative;
      display: inline-block;
      padding: 8px 16px 16px 16px;
      overflow: hidden;
      color: g.$c_white;
      background: g.$c_primary;
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background: g.$c_white;
        transition: transform g.$duration_fast g.$ease_default;
      }
      @include g.Mq(lg) {
        padding-bottom: 20px;
      }
      @at-root {
        #{ $BLOCK_NAME }.is-animated & {
          &::after {
            transform: translateX(100%);
          }
        }
      }
    }
  }

  &__lead {
    position: relative;
    padding: 16px 16px 0 1px;
    margin: 32px 0 -1px 0;
    overflow: hidden;
    color: g.$c_primary;
    background: g.$c_white;
    @include g.Mq(md) {
      padding: 24px 24px 0 1px;
      margin-right: -60%;
    }
    & > span {
      display: inline-block;
      opacity: 0;
      transition: g.$duration_default g.$ease_default g.$duration_default;
      transition-property: transform, opacity;
      transform: translateY(16px);
    }
    @at-root {
      #{ $BLOCK_NAME }.is-animated & {
        & > span {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  &__mv-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 48px;
    @include g.Mq(md) {
      position: relative;
    }
  }

  &__mv {
    position: absolute;
    top: -32px;
    right: calc((-100vw + 325px) / 2);
    bottom: 0;
    z-index: -1;
    display: block;
    width: $width_mv;
    overflow: hidden;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: '';
      background: g.$c_white;
      transition: transform g.$duration_fast g.$ease_default;
      @at-root {
        #{ $BLOCK_NAME }.is-animated & {
          transform: translateX(100%);
        }
      }
    }
    @include g.Mq(md) {
      right: auto;
      bottom: 32px;
      left: 0;
    }
  }

  &__mv-item {
    &.is-active {
      #{ $BLOCK_NAME }__mv-img-container {
        z-index: 1;
        width: 100%;
      }
      #{ $BLOCK_NAME }__mv-img {
        transform: scale(1);
      }
      &.is-enter {
        #{ $BLOCK_NAME }__mv-img-container {
          z-index: 10;
          transition: width $duration_mv_container $ease_mv_container;
        }
        #{ $BLOCK_NAME }__mv-img {
          transition: transform $duration_mv $ease_mv;
        }
      }
      &.is-leave {
        #{ $BLOCK_NAME }__mv-img {
          transition: transform $duration_mv $ease_mv 0.5s;
          transform: scale($scale_mv) translateX(-30%);
          transform-origin: right;
        }
      }
    }
  }

  &__mv-img-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 0;
    overflow: hidden;
    transform-origin: right;
  }
  &__mv-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: $width_mv;
    background: center center no-repeat;
    background-size: cover;
    transform: scale($scale_mv);
    transform-origin: left;
  }
}