@use "../global" as g;

$BLOCK_NAME: ".content";

#{ $BLOCK_NAME } {
  & h2 {
    font-size: 24px;
    margin-top: 32px;
    &:first-child {
      margin-top: 0;
    }
  }

  & h3 {
    font-size: 16px;
    font-weight: bold;
    padding-left: 8px;
    border-left: 2px solid g.$c_primary;
    margin-top: 12px;
    &:first-child {
      margin-top: 0;
    }
  }

  & p {
    margin-top: 8px;
    &:first-child {
      margin-top: 0;
    }
  }

  & div {
    margin-top: 16px;
    &:first-child {
      margin-top: 0;
    }
  }

  & small {
    font-size: 12px;
  }

  & img {
    max-width: 100%;
  }

  & .box {
    position: relative;
    padding: 16px;
    background: g.$c_gray_bg;
    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      box-sizing: content-box;
      width: 0;
      height: 0;
      border: 4px solid transparent;
    }
    &::before {
      top: 0;
      left: 0;
      border-top-color: g.$c_black;
      border-left-color: g.$c_black;
    }
    &::after {
      bottom: 0;
      right: 0;
      border-bottom-color: g.$c_black;
      border-right-color: g.$c_black;
    }
  }

  & blockquote {
    margin-top: 16px;
    font-style: italic;
    color: g.$c_text_light;
    padding: 12px;
    border-left: 2px solid g.$c_border_light;
    &:first-child {
      margin-top: 0;
    }
  }

  & ul {
    margin-top: 16px;
    &:first-child {
      margin-top: 0;
    }
    & > li {
      position: relative;
      padding-left: 1em;
      &::before {
        position: absolute;
        top: 0.7em;
        left: 0.4em;
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 9999px;
        background: g.$c_text;
      }
      & + li {
        margin-top: 4px;
      }
    }
  }

  & table {
    table-layout: fixed;
    width: 100%;
    margin-top: 16px;
    border-top: 1px solid g.$c_border;
    border-bottom: 1px solid g.$c_border;
    &:first-child {
      margin-top: 0;
    }
    & tr {
      border-top: 1px dotted g.$c_border;
      &:first-child {
        border-top: none;
      }
    }
    & th,
    & td {
      text-align: left;
      padding: 8px;
    }
    & th {
      font-weight: bold;
    }
  }
}