@use "../global" as g;

$BLOCK_NAME: ".event-list-lg";

#{ $BLOCK_NAME } {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 12px;
  @include g.Mq(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    & > a {
      display: block;
      height: 100%;
      @include g.HoverOp();
    }
  }

  &__item-head {
    position: relative;
    & > img {
      width: 100%;
    }
    & > span {
      position: absolute;
      bottom: -10px;
      display: block;
      width: 90px;
      height: 20px;
      font-size: 12px;
      line-height: 18px;
      color: g.$c_white;
      text-align: center;
      background: g.$c_black;
    }
  }

  &__item-body {
    padding-top: 20px;
  }

  &__item-title {
    font-weight: bold;
    line-height: 1.4;
    color: g.$c_primary;
  }

  &__item-text {
    padding-top: 8px;
    font-size: 12px;
  }
}