@use "../global" as g;

$BLOCK_NAME: ".footer";

#{ $BLOCK_NAME } {
  background: g.$c_gray_dark;

  &__inner {
    padding: 32px 0;
    @include g.Mq(md) {
      padding: 48px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__links {
    margin-bottom: 12px;
    text-align: center;
    @include g.Mq(md) {
      display: flex;
      justify-content: center;
      margin-bottom: 0;
    }
    & > li {
      display: inline-block;
      font-size: 14px;
      line-height: 1;
      & + li {
        padding-left: 12px;
        margin-left: 12px;
        border-left: 1px solid g.$c_white;
      }
    }
  }

  &__link {
    color: g.$c_white;
    @include g.HoverOp();
  }

  &__copy {
    font-size: 12px;
    color: g.$c_white;
    text-align: center;
    opacity: 0.5;
  }
}