@use "../global" as g;

$BLOCK_NAME: ".info-list";

#{ $BLOCK_NAME } {
  padding-top: 12px;
  @include g.Mq(md) {
    padding-top: 0;
  }

  &__item {
    padding: 12px 0;
    font-size: 12px;
    border-bottom: 1px solid g.$c_border;
    @include g.Mq(md) {
      display: flex;
      align-items: center;
      padding: 12px 16px;
    }
    &:first-child {
      border-top: 1px solid g.$c_border;
    }
    & > dt {
      font-weight: bold;
      @include g.Mq(md) {
        flex-shrink: 0;
        width: 120px;
        padding-right: 8px;
      }
    }
    & > dd {
      margin-top: 8px;
      @include g.Mq(md) {
        flex-grow: 1;
        padding-left: 8px;
        margin-top: 0;
      }
    }
  }
}