@use "../global" as g;

$BLOCK_NAME: ".lead";

#{ $BLOCK_NAME } {
  &.is-align-right {
    @include g.Mq(md) {
      text-align: right;
    }
  }

  &__heading {
    position: relative;
    padding-top: 64px;
    font-size: 20px;
    font-weight: 700;
    color: g.$c_primary;
    @include g.Mq(md) {
      padding-top: 104px;
      font-size: 28px;
    }
  }

  &__shoulder {
    position: absolute;
    top: 0;
    left: 0;
    font-family: g.$ff_en;
    font-size: 60px;
    line-height: 1;
    @include g.Mq(md) {
      top: -16px;
      font-size: 120px;
    }
    @at-root #{ $BLOCK_NAME }.is-align-right & {
      @include g.Mq(md) {
        right: 0;
        left: auto;
      }
    }
  }

  &__text {
    margin-top: 16px;
  }
}