@use "../global" as g;

$BLOCK_NAME: ".news-list";

#{ $BLOCK_NAME } {
  padding-top: 12px;
  @include g.Mq(md) {
    padding-top: 0;
  }

  & > li {
    border-bottom: 1px solid g.$c_border;
    &:first-child {
      border-top: 1px solid g.$c_border;
    }
  }

  &__item {
    position: relative;
    display: block;
    padding: 12px 0;
    transition: color g.$duration_default;
    @include g.Mq(md) {
      padding: 12px 16px;
    }
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: -1px;
      left: 0;
      z-index: -1;
      content: '';
      background: g.$c_primary;
      transition: transform g.$duration_default;
      transform: scaleX(0);
      transform-origin: right;
    }
    &:hover {
      color: g.$c_white;
      &::before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  &__head {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
  }

  &__head-category {
    display: inline-block;
    width: 90px;
    height: 20px;
    margin-right: 8px;
    line-height: 19px;
    color: g.$c_white;
    text-align: center;
    background: g.$c_black;
    transition: all g.$duration_default;
    @at-root #{ $BLOCK_NAME }__item:hover & {
      color: g.$c_primary;
      background: g.$c_white;
    }
  }

  &__text {
    margin-top: 4px;
    font-size: 12px;
  }
}