<!-- ▼▼▼ パンくず ▼▼▼ -->
<div class="breadcrumb">
  <div class="container">
    <span property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage" title="" href="#" class="home">
        <span property="name">サイト名</span>
      </a>
      <meta property="position" content="1">
    </span>
    &gt;
    <span property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage" title="" href="#" class="archive post-program-archive">
        <span property="name">ディレクトリ名</span>
      </a>
      <meta property="position" content="2">
    </span>
    &gt;
    <span property="itemListElement" typeof="ListItem">
      <span property="name" class="post post-program current-item">ページ名</span>
      <meta property="url" content="">
      <meta property="position" content="3">
    </span>
  </div>
</div>
<!-- ▲▲▲ パンくず ▲▲▲ -->