{% macro default(ITEM)%}
<div class="hero__wrapper">
  <div class="container">
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">{{ ITEM.title }}</h1>
        <img src="{{ ITEM.img }}" class="hero__bg" alt="">
      </div>
    </div>
  </div>
</div>
{% endmacro %}