<!-- ▼▼▼ 前／次のページリンク ▼▼▼ -->
<div class="next-prev">
  <a href="#" class="next-prev__link is-prev">前のページ：タイトル</a>
  <a href="#" class="next-prev__link is-next">次のページ：タイトル</a>
</div>
<!-- ▲▲▲ 前／次のページリンク ▲▲▲ -->