<!-- ▼▼▼ ページネーション ▼▼▼ -->
<div class="pagination">
  <div class="wp-pagenavi" role="navigation">
    <span class="pages">1 / 4</span>
    <span aria-current="page" class="current">1</span>
    <a class="page larger" title="ページ 2" href="http://localhost/wordpress/news/page/2">2</a>
    <a class="page larger" title="ページ 3" href="http://localhost/wordpress/news/page/3">3</a>
    <a class="page larger" title="ページ 4" href="http://localhost/wordpress/news/page/4">4</a>
    <a class="nextpostslink" rel="next" aria-label="次のページ" href="http://localhost/wordpress/news/page/2">»</a>
  </div>
</div>
<!-- ▲▲▲ ページネーション ▲▲▲ -->