{% set FAQ_ITEMS = [
  {
    categoryLabel: '○○について',
    contents: [
      {
        question: '○○について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      },
      {
        question: '○○について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      },
      {
        question: '○○について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      },
      {
        question: '○○について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      }
    ]
  },
  {
    categoryLabel: '××について',
    contents: [
      {
        question: '××について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      },
      {
        question: '××について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      },
      {
        question: '××について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      }
    ]
  },
  {
    categoryLabel: '□□について',
    contents: [
      {
        question: '□□について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      },
      {
        question: '□□について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      },
      {
        question: '□□について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      },
      {
        question: '□□について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      }
    ]
  },
  {
    categoryLabel: '△△について',
    contents: [
      {
        question: '△△について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      },
      {
        question: '△△について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      }
    ]
  }
] -%}

<!-- ▼▼▼ FAQ ▼▼▼ -->
<div class="top-faq__wrapper">
  <div class="container">
    <div class="top-faq">
      <ul class="top-faq__tab">
        {% for ITEM in FAQ_ITEMS %}
          <li class="top-faq__tab-item" data-target-index="{{ loop.index - 1 }}">{{ ITEM.categoryLabel }}</li>
        {% endfor %}
      </ul>
      <div class="top-faq__contents">
        {% for ITEM in FAQ_ITEMS %}
          <div class="top-faq__content">
            {% for CONTENT in ITEM.contents %}
              <div class="top-faq__content-item">
                <h3 class="top-faq__content-question">{{ CONTENT.question }}</h3>
                <p class="top-faq__content-answer">{{ CONTENT.answer }}</p>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- ▲▲▲ FAQ ▲▲▲ -->