{% set HERO_ITEMS = [
  { src: 'img/top/hero/mv_01.jpg' },
  { src: 'img/top/hero/mv_02.jpg' },
  { src: 'img/top/hero/mv_03.jpg' }
] -%}

<!-- ▼▼▼ ヒーロー ▼▼▼ -->
<div class="top-hero__wrapper">
  <div class="container">
    <div class="top-hero" id="js-top-hero">
      <div class="top-hero__content">
        <h1 class="top-hero__title">
          <span class="top-hero__title-line"><span>ここに</span></span>
          <span class="top-hero__title-line"><span>タイトルが</span></span>
          <span class="top-hero__title-line"><span>入ります</span></span>
        </h1>
        <p class="top-hero__lead"><span>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</span></p>
      </div>
      <div class="top-hero__mv-wrapper">
        <div class="top-hero__mv">
          {% for ITEM in HERO_ITEMS %}
            <div class="top-hero__mv-item">
              <div class="top-hero__mv-img-container">
                <div class="top-hero__mv-img" data-img-src="{{ ITEM.src }}"></div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ▲▲▲ ヒーロー ▲▲▲ -->